.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	border-bottom: 1px solid #d3cbd9;
	margin: 0 auto 80px auto;
	padding-top: 30px;
	padding-bottom: 30px;
	max-width: 1250px;
	gap: 10px;
}
.phone {
	text-align: right;
}
.link-header:hover {
	color: #3596ed;
	transition: 0.2s;
}
.phone-text {
	font-weight: 300;
	font-size: 14px;
	letter-spacing: 0.04em;
	text-align: right;
	text-transform: uppercase;
	color: #858e8a;
	margin-bottom: 8px;
}
.link-header {
	font-weight: 500;
	font-size: 18px;
	color: #2c332f;
	text-decoration: none;
}
