body {
	font-family: sans-serif;
}
.form {
	border: 1px solid #000;
	border-radius: 5px;
	max-width: 300px;
	padding: 20px;
}

.form-group,
.form-group2 {
	border: none;
	padding: 0;
}
.form-group-title {
	font-weight: 800px;
	padding: 0;
	margin-bottom: 7px;
}
.label {
	display: block;
	margin-bottom: 5px;
}
.input,
.textarea {
	border: 1px solid #000;
	border-radius: 3px;
	padding: 5px;
	display: block;
}
.textarea {
	max-height: 300px;
	min-height: 20px;
	resize: vertical;
}
.checkbox {
	cursor: pointer;
}
.checkbox-name {
	font-size: 12px;
}
.button {
	border: none;
}
